body {
  text-align: center;
}

header, footer {
  background-color: #507EC2;
  border-radius: 25px;
  width: 600px;
  height: 50px;
  margin: 10px auto;
  color: white;
}
footer {
    padding-top: 10px;
}
img {
  float: right;
  border-radius: 40px;
  position: fixed;
  margin-left: 200px;
  margin-top: 40px;
}
a {
  color: red;
}
a:hover {
  color: black;
}
h2 {
  margin-bottom: 0;
}
ul {
  list-style: none;
}
